.title>div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    float: left;
    height: 50px;
    padding: 13px 10px;
    box-sizing: border-box;
    background-color: #f9fafb;
    border-right: 1px solid #e3e4e8;
    color: #4a4b4b;
    font-family: 'SF_UI_Text_Bold';
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    border: 1px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    background-color: #fff;
    height: 38px;
    margin-top: 5px;
    text-align: left;
}

.row>div{
    float: left;
    height: 30px;
    padding: 8px 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #ffffff;
    border-right: 1px solid #e3e4e8;
    color: #4a4b4b;
    font-size: 11px;
    line-height: 22px;
    white-space: nowrap;
    text-align: left!important;
}
.row {
    overflow: hidden;
    border-bottom: 1px solid #e3e4e8;
}
.popup_context_menu_title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    background-color: #00BCD4;
}
.cell_one{
    width: 10%;
}
.cell_two{
    width: 10%;
}
.cell_three{
    width: 40%;
}
.cell_four{
    width: 40%;
}

.button_plus{
    position: absolute;
    top: 3px;
    right: -50px;
    background-image: url('../../templates/simple_template/images/plus.png');
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.button_plus:hover::after {
     content: attr(data-title);
    width: 160px;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #80d864;
 }
#action_list{
    position: relative;
    width: 600px;
    margin: 0 auto;
}





#popup_action_list{
    display: none;
    position: fixed;
    z-index: 999999;
    top: 20px;
    left: 20px;
    width: 500px;
    height: 150px;
    background-color: #ccc;
    left: calc(50% - 250px);
    top: calc(50% - 75px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


#popup_action_list::before {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.75);
}

.canvas{
    z-index: 999999;
    position: relative;
    background-color: #ccc;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.block{
    display: block!important;
}

