.off_company{
    background-color: #feff50;
}

.on_company{
    background-color: #80d864;
}
#plus_test_users_couple{
    position: fixed;
    z-index: 999999;
    top: 20px;
    left: 20px;
    width: 500px;
    height: 160px;
    background-color: #ccc;
    left: calc(50% - 250px);
    top: calc(50% - 80px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#plus_test_users_couple::before {
    position: fixed;
    z-index: 999998;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.75);
}
.canvas{
    z-index: 999999;
    position: relative;
    background-color: #ccc;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.button_row{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.canvas>span {
    margin-top: 10px;
    display: block;
}

.users .test_row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}