#body {
    margin-top: 80px!important;
}

.main-sidebar{
    display: none!important;
}
.content-wrapper{
    margin-left: 0px!important;
}
.logo-lg, .sidebar-toggle{
    display: none!important;

}
.logo{
    background-color: #3c8dbc!important;
}
#info_box, .progress_bar_line{
    z-index: 99999!important;
}
.navbar, .logo{
    height: 70px!important;
}

.main-sidebar {
    background-color: #ecf0f5!important;
}
.page_title{
    color: #333333;
}

@media screen and (max-width: 767px) {
    #body {
        margin-top: 80px!important;
    }
    .page_title{
        width: 100%;
        font-size: 13px;
        text-align: center;
    }
    .pril_start{
        display: none!important;
    }
    .navbar-custom-menu{
        position: absolute;
        top: 0;
        right: 0;
    }
}