.container {
    width: 1170px;
    margin: 0px auto;
     padding-right: 0px!important;
     padding-left: 0px!important;
}

.header > div {
    float: left;
    height: 40px;
    padding: 13px 10px;
    box-sizing: border-box;
    background-color: #f9fafb;
    border-right: 1px solid #e3e4e8;
    color: #4a4b4b;
    font-family: 'SF_UI_Text_Bold';
    font-size: 11px;
    text-align: center;
}
.list_of_vacancies > .container > .list > .header > div:first-child {
    border-left: 1px solid #e3e4e8;
}
.value > div {
    overflow: hidden;
    border-bottom: 1px solid #e3e4e8;
}
.value > div > div:first-child {
    border-left: 1px solid #e3e4e8;
}
.value > div > div {
    float: left;
    height: 30px;
    padding: 8px 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #ffffff;
    border-right: 1px solid #e3e4e8;
    color: #4a4b4b;
    font-family: 'SF_UI_Text_Regular';
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
}
.number_doc {
    width: 40px;
}
.otdel {
    width: 130px;
}
.fio {
    width: 200px;
}
.position {
    width: 140px;
}
.doc_type {
    width: 100px;
}
.doc_name {
    width: 200px;
}
.action {
    width: 125px;
}
.status {
    width: 125px;
}
.status_date {
    width: 110px;
}
.value>div{
    width: 1170px;
}

.canvas{
    z-index: 999999;
    position: relative;
    background-color: #ccc;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


.popup_context_menu_title{
    /*margin-top: 20px;*/
}
.new_parent{
    color:indianred;
    cursor: pointer;
}


#action_history_docs_popup{
    display: none;
    position: fixed;
    z-index: 999999;
    top: 20px;
    left: 20px;
    width: 900px;
    height: 440px;
    background-color: #ccc;
    left: calc(50% - 450px);
    top: calc(50% - 220px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#action_history_docs_popup::before {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.75);
}
#popup_action_list {
    height: 280px;
    overflow: auto;
    text-align: left;
    border: 2px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
}
.row{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 880px;
    border-bottom: 1px solid #323232;
    height: 25px;
    align-items: center;
}

.date_popup{
    width: 160px;
    text-align: end;
}
.action_popup{
    width: 280px;
}
.status_popup{
    width: 280px;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 20px;
    padding-left: 0;
}

.tree_item{
    height: 30px;
    width: 560px;

    color:#614d4d;
    line-height: 30px;
    font-weight: 700;
}
.open_item{
    color: #e08833;
    cursor: pointer;
}
.open_item:hover{
    color: rgba(224, 136, 51, .7);
}

#tree_main {

}
.tree_item_fio{
    font-weight: 400;
    color: #614d4d
}
