
.pagination>li>a{
    color: #666!important;
}

#table1_wrapper .row:first-child{
    display: flex;
}

.input-sm{
    line-height: 10px!important;
}
.box {
    margin-top: 55px;
    clear: both;
}


li {
    list-style-type: none;
}
ul {
    margin-left: 20px;
    padding-left: 0;
}

.tree_item{
    height: 30px;
    width: 560px;
    /*background-color: #ecf0f5;*/
    color:#614d4d;
    line-height: 30px;
    font-weight: 700;
}
.open_item{
    color: #e08833;
    cursor: pointer;
}
.open_item:hover{
    color: rgba(224, 136, 51, .7);
}

#tree_main {
    /*background-color: #ecf0f5;*/
}
.tree_item_fio{
    font-weight: 400;
    color: #614d4d
}




@media screen and (max-width: 480px) {

    .box {
        margin-top: 10px;
    }

    #table1_wrapper>.row:first-child{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
    }

    #node_docs_select{
        margin-top: -50px;
        float: none!important;
    }
    .button{
        float: none!important;
    }
}

.dropdownmenu{
    position: absolute;
    color: #666;
    background-color: #fff;
    border-radius: 4px;
    /* width: 278px; */
    padding: 4px;
    margin-top: 1px;
    top: -10px;
    left: -15px;
    overflow: scroll;
    /* height: 400px; */
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
    z-index: 9999;
}

.dropdownmenu:first-child{
    left: -25px!important;
}
.select_button{
    position: relative;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: calc(50% - 10px);
}

tfoot th{
    height: 60px;
    padding-top: 30px!important;
    position: relative;
    text-align: center;
}

.dataTables_scrollFoot{
    overflow: auto!important;
}

.box-body{
    overflow-x: auto!important;
}
/*#table1>tfoot{*/
/*display: none!important;*/
/*}*/

#table1 {
    min-height: 430px!important;
}
.li_select{
    text-align: center;
}

.input-group{
    float: left;
    width: 200px;
    margin: 10px 0px;
}
#selects{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    flex-wrap: wrap;
}

.docs_report_step_row{
    cursor: pointer;
}
#table_popup thead td {
    font-weight: 700;
}
#popup_action_list{
    overflow-x: auto;
}


@media (max-width: 570px){
    #select_item_status{
        margin-bottom: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
