.navbar, .main-sidebar,.main-header {
    display: none;
}
.content-wrapper{
    margin-left: 0px;
}
#body{
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
}
#print{
    position: fixed!important;
    top: 0!important;
    left: 10px!important;
}