#body{
    position: absolute;
    margin: 0;
    left: calc(50% - 125px);
    margin-top: 50px;
}
#header{
    display: none;
}
#menu_open{
    display: none;
}

.page_title {
    width: 280px;
    margin: 0 auto;
    left: calc(50% - 150px);
}