
.container {
    width: 800px;
    padding-left: 80px;
    padding-right: 80px;
margin: 0 auto;
}
.container>p{
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 18px;
    color: #2e1f1f;
    line-height: 30px;
}
#body {
    margin-left: 0px;
    width: 100%;
}
#topBar, #topBar .logo, #header>a{
    height: 70px;
}
.instr{
    width: 800px;
    margin-bottom: 10px;
}