body{
    background-color: #ecf0f5!important;
}
.control_test_item{
    border: 1px solid black;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    max-width: 700px;
    margin: auto;
    border-radius: 40px;
    background-color: #8bc34a;
}

.control_test_item:hover{
    background-color: #FFEB3B;
}

.test_question{
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    margin-top: 11px;
    border-radius: 10px;
    background-color: mintcream;
    text-align: justify;
}

.test_answer{
    border: 1px solid #ccc;
    margin: 3px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    text-align: justify;
}

.test_answer:hover{
    background-color: #8BC34A;
}

.selected_answer{
    background-color: #3c8dbc;
    color: #fff;
}

.unselected_answer{
    background-color: #FFEB3B;
}

#test_block{
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    height: 100%;
    /* background-color: aliceblue; */
}

#content_box{
    margin: 0 auto;
    width: 800px;
    padding-top: 110px!important;
    background-color: #fff;

}

#test{
    overflow: auto;
}
#start_test{
    display: none;
}


.bac{
    height: 70px;
    width: 1000px;
    display: block;
    position: fixed;
    top: 0;
    background-color: #3c8dbc;
    left: calc(50% - 500px);
    z-index: 5;
    display: none;
}
#body {
      margin-top: 0px;
 }



#topBar, #topBar .logo, #header>a{
    height: 70px;
}
@media print{@page {size: landscape}  body{display: block}}
.content_box


.main-sidebar{
    display: none!important;
}
.content-wrapper{
    margin-left: 0px!important;
}
.logo-lg, .sidebar-toggle{
    display: none!important;

}
.logo{
    background-color: #3c8dbc!important;
}
#info_box, .progress_bar_line{
    z-index: 99999!important;
}
.navbar, .logo{
    height: 70px!important;
}

.main-sidebar {
    background-color: #ecf0f5!important;
}

#info_box:before{
    content: " ";
    background-color: #3c8dbc;
    top: -5px;
    left: 0;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: -1;
 }

.main-sidebar{
    width: 0;
}

#full_screen>img{
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 1200px) {
    .up{
        left: calc(50% - 90px);
    }
    .down {
        top: 75px;
        left: calc(50% + 5px);
    }
    #content_box {
        padding-top: 185px!important;
    }
}

@media screen and (max-width: 800px) {
    #content_box {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .up{
        top: 80px;
    }
    .down {
        top: 80px;
    }
    #progress_box{
        margin-left: 0%;
        width: 100%;
    }
    .main-header {
        top: 0px!important;
    }
}
@media screen and (max-width: 767px) {
    body {
        margin-top: 0px!important;
    }
}