
.pagination>li>a{
    color: #666!important;
}

#table1_wrapper .row:first-child{
    display: flex;
}

.input-sm{
    line-height: 10px!important;
}
.box {
 margin-top: 55px;
}
/*tfoot tr{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*position: absolute;*/
    /*background-color: #fff;*/
    /*z-index: 99;*/
    /*top: -70px;*/
    /*left: -5px;*/
    /*border: 1px solid #ddd;*/
    /*-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);*/
    /*-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);*/
    /*box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);*/
/*}*/

/*tfoot tr th{*/
    /*height: 60px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/


li {
    list-style-type: none;
}
ul {
    margin-left: 20px;
    padding-left: 0;
}

.tree_item{
    height: 30px;
    width: 560px;
    /*background-color: #ecf0f5;*/
    color:#614d4d;
    line-height: 30px;
    font-weight: 700;
}
.open_item{
    color: #e08833;
    cursor: pointer;
}
.open_item:hover{
    color: rgba(224, 136, 51, .7);
}

#tree_main {
    /*background-color: #ecf0f5;*/
}
.tree_item_fio{
    font-weight: 400;
    color: #614d4d
}

