li {
    list-style-type: none;
}
ul {
    margin-left: 10px;
    padding-left: 0;
}

.tree_item{
    height: 30px;
    width: 560px;
    background-color: #222d32;
    color: #fff;
    line-height: 30px;
    font-weight: 700;
}
.open_item{
    color: #e08833;
    cursor: pointer;
}
.open_item:hover{
    color: rgba(224, 136, 51, .7);
}

#tree_main {
    background-color: #222d32;
}
.tree_item_fio{
    font-weight: 400;
    color: #ccc;
}