.transform{
    transition:all 0.35s ease-out 0s;
}

body{
    font-family: sans-serif;
    margin: 0px;
    overflow-x: hidden;
    background-color: #ecf0f5;
}

#topBar{
    position: fixed;
    z-index: 1;
    height: 50px;
    background-color: #3c8dbc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#topBar .logo{
    width: 220px;
    height: 50px;
    font-size: 24px;
    background-color: #367fa9;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    transition:all 0.35s ease-out 0s;
}
#topBar .logo span{
    font-weight: 700;
}
#topBar .left{
    display: flex;
    flex-direction: row;
}

#topBar .left .mune_icon{
    background-color: #3c8dbc;
    height: 50px;
    width: 50px;
}

#topBar .left .mune_icon:hover{
    background-color: #367fa9;
}

#topBar .dors_button{
    display: flex;
    flex-direction: row;
}

#topBar .dors_button:hover{
    background-color: #367fa9;
}

#topBar .left .mune_icon img{
    margin: 15px;
    height: 20px;
}

#topBar .dors_button{
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    padding-left: 15px;

}

#topBar .dors_button img {
    margin: 10px;
    height: 30px;
}

#header{
    position: fixed;
    z-index: 10;
    display: flex;
    float: left;
    flex-direction: column;
    background-color: #f0f8ff;
    text-align: end;
    top: 50px;
    left: 0px;
    /*background-color: rgba(156, 133, 255, 0.46);*/
    margin-right: 1px;
    border-bottom: 1px solid black;
}

#header>a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    background: #222d32;
    width: 220px;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    transition:all 0.35s ease-out 0s;
    box-sizing: border-box;
    height: 58px;
    position: relative;
}

#header>a>img{
    margin-left: 10px;
    width: 20px;
    height: 15px;
    transition:all 0.35s ease-out 0s;
}

#header a .active{
    border-left-color: #3c8dbc;
}

#header>a>div{
    color: #fff;
    background: #222d32;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    width: 150px;
    margin-left: 5px;
    height: 34px;
    transition:all 0.35s ease-out 0s;
    display: flex;
    align-items: inherit;
}

#header>a:hover{
    color: #fff;
    background: #1e282c;
}
#header>a:hover>div{
    background: #1e282c;
}

#body{
    margin-top: 50px;
    padding: 10px 0px 25px 0px;
    text-align: center;
    float: left;
    margin-left: 70px;

}

#bottom{
    position: fixed;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #d2d6de;

}

.page_title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
}

.input{
    outline: none;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 4px;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    border-color: #d2d6de;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    background-color: #fff!important;
    text-align: left;
}
.input:focus{
    border-color: #3c8dbc;
}
.button{
    background-color: #8bc34a;
    min-width: 200px;
    padding: 10px;
    /* border: 2px solid black; */
    margin: 5px;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    color: black;
    width: auto;
    max-width: 250px;
    /* font-weight: bold; */
    display: inline-block;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    margin-top: 15px;
}

.button:hover{
    background-color: #e1ffbe;
}

.caption{
    font-size: 19px;
    margin-left: 7px;
    margin-bottom: 4px;
}

.menu_button{
    background-color: #8bc34a;
    min-width: 200px;
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
    color: black;
    width: auto;
    max-width: 250px;
    display: inline-block;
    font-size: 17px;
    margin-left: -8px;
}

.menu_button:hover{
    background-color: #e1ffbe;
}


#message{
    /*background-color: rgba(156, 133, 255, 0.46);*/
    padding: 8px;
    font-size: 16px;
    display: none;
}

#preloader{
    /* background-color: rgba(156, 133, 255, 0.46); */
    /* padding: 8px; */
    font-size: 16px;
    display: none;
    min-height: 20px;
    margin-top: 23px;
}

#preloader_text{
    padding-top: 24px;
}

.control_company{
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 41px;
    background-color: #8bc34a;
    padding: 10px;
    position: absolute;
    left: 4px;
    top: 40px;
    width: 200px;
    display: none;
}

.list_item{
    background-color: rgb(255, 153, 84);
    max-width: 800px;
    padding: 13px;
    margin: 7px;
    cursor: pointer;
    /*display: inline-grid;*/
}

select{
    height: 38px;
    text-align: center;
    padding: 9px;
    border-radius: 40px;
    border: 0px solid black;
    /*min-width: 410px;*/
    cursor: pointer;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    background: url(/templates/simple_template/images/arrow_down.svg) no-repeat right #ffffff;
    background-size: 15px;
    background-position-y: 14px;
    background-position-x: calc(100% - 5px);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    outline: none;
}

.small_title{
    font-size: 17px;
    font-weight: bold;
    margin: 8px;
}

.top50{
    top: 50px;
}

.down{
    border: 2px solid #91dc5a;
    position: fixed;
    height: 75px;
    width: 70px;
    top: 150px;
    left: calc(100% - 314px);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.down>div {
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.down>img{
    height: 40px;
    width: 40px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



.up{
    border: 2px solid #91dc5a;
    position: fixed;
    height: 75px;
    width: 70px;
    top: 70px;
    left: calc(100% - 314px);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.up>div {
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.up>img{
    margin-top: 5px;
    height: 40px;
    width: 40px;
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.up:hover, .down:hover{
    background-color: rgba(145, 220, 90, 0.2);
}
#progress_bar{
    position: fixed;
    top: 41px;
    height: 24px;
    padding-top: 4px;
    box-sizing: border-box;
    width: 960px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid #91dc5a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: calc(50% - 480px);
    z-index: 10;
}
.progress_bar_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.progress_bar_item{
    border: 1px solid #91dc5a;
    margin: 5px;
    margin-top: 0px;
    height: 10px;
    width: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.progress_bar_title{
    font-size: 20px;
    color: #91dc5a;
}

#progress_bar_line{
    width: 960px;
    position: fixed;
    left: calc(50% - 480px);
    top: 41px;
    height: 24px;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border: 2px solid #91dc5a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 10;
}

.progress_bar_title_line{
    font-size: 20px;
    color: #91dc5a;
}
.progress_bar_line_front{
    margin: 0 auto;
    border: 1px solid #91dc5a;
    height: 10px;
    width: 80%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.progress_bar_line_back{
    height: 100%;
    background-color: #00BCD4;
    width: 3px;
}

#info_box{
    width: 960px;
    position: fixed;
    left: calc(50% - 480px);
    top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 10;
}
.info_box{
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-top: 5px;
    box-sizing: border-box;
    height: 30px;
    width: 250px;
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid #c6c7c6
}
.info_box_id{
    width: 50px;
}
.info_box_type{
    width: 170px;
}
.info_box_fio{
    width: 200px;
}
.info_box_doc{
    width: 480px;
}
.progress_count{
    box-sizing: border-box;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 2px;
}
.progress_line_proc{
    left: 20px;
    position: absolute;
    top: 2px;
}
#finish_test, #close_test, #go_to_testing {
    margin-bottom: 100px!important;
}

.page_title{
    margin: 0;
    font-size: 24px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
    line-height: 1.1;
    left: 0px;
    text-align: left;
}
.gray{
    background-color: #ecf0f5;
}

.button{
    width: 150px;
    margin-top: 10px;
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button:hover{
    background-color: #367fa9;
}

select{
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.button_orange{
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #f39c12;
    border-color: #e08e0b;
    color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button_orange:hover{
    background-color: #e08e0b;
}

.box{
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    min-height: 250px;
    margin-top: 15px;
    padding-left: 15px;
}
.target{
    margin-left: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
.display_none{
    display: none!important;
}

.canvas>.row{
    display: flex;
}

.attr:before {
    position: absolute;
    z-index: 99999;
    top: 17px;
    left: 51px;
    visibility: hidden;
    display: block;
    padding: 6px;
    box-sizing: border-box;
    content: attr(name);
    opacity: 0;
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    font-family: 'Roboto_Regular';
    font-size: 13px;
    line-height: 15px;
    white-space: nowrap;
    z-index: 10;
}
.attr:hover::before {
    visibility: visible;
    opacity: 1;
}

.page_title {
    position: fixed;
    top: 10px;
    left: 270px;
    color: #fff;
    z-index: 3;
}
#topBar .logo, #header>a{
width: 50px;
}
#header>a{
padding-left:0px;
}
#header>a>img{
height: 30px;
}
